<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="kz.greepto.gpen.editors.gpen.GpenEditor"
            extensions="gpen"
            icon="icons/gpen16.png"
            id="kz.greepto.gpen.editors.GpenEditor"
            name="Gpen Editor">
      </editor>
      <editor
            class="kz.greepto.gpen.editors.gdoc.GdocEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="gdoc"
            icon="icons/gdoc16.png"
            id="kz.greepto.gpen.editors.GdocEditor"
            name="Gdoc Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="kz.greepto.gpen"
            name="Gpen">
      </category>
      <view
            category="kz.greepto.gpen"
            class="kz.greepto.gpen.views.gpen.figurebox.FigureBoxView"
            icon="icons/FigureBox_16x16.png"
            id="kz.greepto.gpen.views.gpen.figurebox.FigureBox"
            name="Figure Box">
      </view>
      <view
            category="kz.greepto.gpen"
            class="kz.greepto.gpen.views.gpen.align.FigureAlignView"
            icon="icons/pencil-ruler-icon.png"
            id="kz.greepto.gpen.views.gpen.align.FigureAlign"
            name="Align Figures">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="kz.greepto.gpen.views.gpen.figurebox.FigureBox"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="kz.greepto.gpen.views.gpen.align.FigureAlign"
               ratio="0.3"
               relationship="bottom"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="kz.greepto.gpen.editors.gpen.GpenEditor"
            class="kz.greepto.gpen.editors.gpen.GpenEditorAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySheetPage">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
   </extension>

</plugin>
