<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestsSuite" parallel="false">
  <test name="All tests">
    <groups>
      <run>
        <exclude name="left" />
      </run>
    </groups>

    <packages>
      <package name="kz.greetgo.conf.*" />
    </packages>
  </test>
</suite>
